<body>
<div class="container-fluid px-0">
  <div class="row gx-0">
    <div class="col-lg-3 bg-dark d-none d-lg-block">
      <a routerLink="/" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
        <h1 class="m-0 text-primary text-uppercase">Hotel Emperador</h1>
      </a>
    </div>
    <div class="col-lg-9">
      <div class="row gx-0 bg-white d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
          <div class="h-100 d-inline-flex align-items-center py-2 me-4">
            <i class="fa fa-envelope text-primary me-2"></i>
            <p class="mb-0">info&#64;example.com</p>
          </div>
          <div class="h-100 d-inline-flex align-items-center py-2">
            <i class="fa fa-phone-alt text-primary me-2"></i>
            <p class="mb-0">+012 345 6789</p>
          </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
          <div class="d-inline-flex align-items-center py-2">
            <a class="me-3" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="me-3" href=""><i class="fab fa-twitter"></i></a>
            <a class="me-3" href=""><i class="fab fa-linkedin-in"></i></a>
            <a class="me-3" href=""><i class="fab fa-instagram"></i></a>
            <a class="" href=""><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
        <a routerLink="/" class="navbar-brand d-block d-lg-none">
          <h1 class="m-0 text-primary text-uppercase">Hotel Emperador</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
          <div class="navbar-nav ms-auto py-0">
            <a href="/" class="nav-item nav-link">Home</a>
            <a href="/sobrenosotros" class="nav-item nav-link active">Sobre nosotros</a>
            <a href="/cuartos" class="nav-item nav-link">Suite</a>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Páginas</a>
              <div class="dropdown-menu rounded-0 m-0">
                <a href="/reservas" class="dropdown-item">Booking</a>
                <a href="/equipo" class="dropdown-item">Our Team</a>
                <a href="/testimonios" class="dropdown-item">Testimonial</a>
              </div>
            </div>
            <a href="/contacto" class="nav-item nav-link">Contactos</a>
            <a href="/login" class="btn btn-login ms-3">Iniciar sesión</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>

<div class="header-txt foto text-center py-5 bg-light">
  <h1>"Vive una experiencia inolvidable"</h1>
  <a routerLink="/" class="btn btn-primary mt-3">Haz click aquí</a>
</div>

<section class="general container">
  <h2>Misión, Visión y Valores</h2>
  <div class="general-content row">
    <div class="general-1 txt">
      <h3>Misión</h3>
      <p>Brindar una experiencia única de alojamiento, combinando confort, calidez y servicio personalizado que supere expectativas.</p>
    </div>
    <div class="general-2 txt">
      <h3>Visión</h3>
      <p>Ser reconocidos como un hotel de referencia en la región por nuestra excelencia en hospitalidad e innovación.</p>
    </div>
    <div class="general-3 txt">
      <h3>Valores</h3>
      <p>
        Hospitalidad: Amabilidad y respeto en cada servicio.<br>
        Calidad: Estancia cómoda y memorable.<br>
        Compromiso: Superar expectativas siempre.
      </p>
    </div>
  </div>
</section>

 <section class="info-1">
    <div class="info-content container">
        <h2>¿Qué nos hace únicos?</h2>
        <h3>En un mundo lleno de opciones, ofrecemos mucho más que una habitación. En nuestro hotel, 
            cada detalle ha sido pensado para que vivas una experiencia
            auténtica, cómoda y memorable.</h3>

        <div class="info-circle">
            <div class="circle-txt">
                <div class="circle-1">
                    <h3>Atención personalizada:</h3>
                </div>
                <p>Te conocemos por tu nombre, no por el número de habitación.</p>
            </div>

            <div class="circle-txt">
                <div class="circle-1">
                    <h3>Cultura local:</h3>
                </div>
                <p>Integramos productos regionales, arte y gastronomía local en cada rincón</p>
            </div>

            <div class="circle-txt">
                <div class="circle-1">
                    <h3>Compromiso ecológico:</h3>
                </div>
                <p>Prácticas sostenibles para cuidar el entorno sin renunciar al confort.</p>
            </div>
        </div>
    </div>
</section>

<section class="info-2">
        <div class="info-content container">
            <h2>Mensaje de Nuestro Equipo</h2>
            <div class="testi">
            <div class="testi-left">
                <div class="testi-txt">
                    <img src="assets/img/gerenta.png" alt="Gerenta">
                    <h3>Ana Rodríguez – Gerente General</h3>
                    <p>
                        “Para nosotros, cada huésped es único. 
                        Nos esforzamos por ofrecer una experiencia que supere lo esperado, 
                        en cada detalle.”
                    </p>
                </div>
                <div class="testi-txt">
                    <img src="../../assets/img/chef.png" alt="">
                    <h3>Carlos Méndez – Chef Ejecutivo</h3>
                    <p>
                        “La cocina es una forma de dar la bienvenida. 
                        Cada plato que servimos cuenta una historia.”
                    </p>

                </div>
                <div class="testi-txt">
                    <img src="../../assets/img/recep.png" alt="">
                    <h3>María Torres – Jefa de Recepción</h3>
                    <p>
                        “Mi misión es que cada huésped se 
                        sienta como en casa desde el primer momento.”
                    </p>
                </div>
            </div>
         </div>
      </div>
    </section>
    <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-4">
                <div class="bg-primary rounded p-4">
                    <a routerLink="/"><h1 class="text-white text-uppercase mb-3">Hotelier</h1></a>
                    <p class="text-white mb-0">
                        Download <a class="text-dark fw-medium" href="#">Hotelier – Premium Version</a>,
                        build a professional website for your hotel business and grab the attention of new visitors upon your site’s launch.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3" style="padding-left: 30px;">
                <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>info&#64;example.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="row gy-5 g-4">
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Company</h6>
                        <a class="btn btn-link" href="/sobre-nosotros">About Us</a>
                        <a class="btn btn-link" href="/contacto">Contact Us</a>
                        <a class="btn btn-link" href="#">Privacy Policy</a>
                        <a class="btn btn-link" href="#">Terms & Condition</a>
                        <a class="btn btn-link" href="#">Support</a>
                    </div>
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Services</h6>
                        <a class="btn btn-link" routerLink="/servicio-gastronomia">Food & Restaurant</a>
                        <a class="btn btn-link" routerLink="/servicio-spa">Spa & Fitness</a>
                        <a class="btn btn-link" routerLink="/servicio-recreacion">Sports & Gaming</a>
                        <a class="btn btn-link" routerLink="/servicio-eventos">Event & Party</a>
                        <a class="btn btn-link" routerLink="/servicio-gym">GYM & Yoga</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" routerLink="/">Your Site Name</a>, All Right Reserved.
                    Designed By <a class="border-bottom" href="#">Your Site Name</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a routerLink="/">Home</a>
                        <a href="#">Cookies</a>
                        <a href="#">Help</a>
                        <a href="#">FQAs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>