body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #243b55;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 500px;
    padding: 52px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 38px;
}

.register-box h2 {
    color: #fff;
    margin-bottom: 30px;
}

.user-box {
    position: relative;
    margin-bottom: 30px;
}

.user-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #FEA116;
    font-size: 12px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container button {
    background: #FEA116;
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 5px;
}

.button-container button:hover {
    background: #b87502;
}