<div class="admin-layout">
  <!-- Sidebar -->
  <nav class="sidebar">
    <h3>Admin Panel</h3>
    <ul>
        <li><a href="/admin/dashboard" class="active"><i class="fas fa-home"></i> Dashboard</a></li>
        <li><a href="/admin/usuarios" routerLinkActive="active"><i class="fas fa-users"></i> Usuarios</a></li>
        <li><a href="/admin/reservasAdmin" routerLinkActive="active"><i class="fas fa-calendar-alt"></i> Reservas</a></li>
        <li><a href="/admin/servicios" routerLinkActive="active"><i class="fas fa-calendar"></i> Servicios</a></li>
        <li><a href="/"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
    </ul>
  </nav>

  <!-- Contenido principal -->
  <main class="admin-content">
    <router-outlet></router-outlet>
  </main>
</div>
